.header > .container > .row > div > div > span,
.header .container .list-inline li:first-child
{
  display: none;
}

.logo img,
.header .container .row .input-group
{
  transform: initial !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.header .container .row .input-group-btn {
    display: table-cell;
}

#cartIcon {
    font-size: xx-large;
    transform: scaleX(-1);
}

.itemsCartQtt {
  border: 1px solid #00000026;
  border-radius: 100%;
  width: fit-content;
  padding: 4px;
  text-align: center;
  transform: translate(30px, -50px);
  position: absolute;
  background-color: white;
}

.logo img {width: 100%;}
