.mnu nav,
#main-menu-btn button
{
  border: none;
}

.mnu nav {
  box-shadow: inset 0 0px 1px 1px rgb(0, 0, 0), 0 0px 5px 3px rgba(0,0,0,0.075);
}

.mnu nav ul li {
  background-color: transparent;
}

#main-menu-btn {
  display: none;
}

#main-menu-btn button {
  border-radius: 5px;
  border: #525252 1px solid;
}

@media (min-width: 769px) {
  .mnu nav {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@media (max-width: 768px) {

  .mnu nav {
      position: absolute;
      margin-top: -10px;
      width: fit-content;
  }

  .mnu nav ul {
      display: grid;
      margin: 7.5px;
  }

  #main-menu-btn {
    display: table-cell;
    padding-bottom: 10px;
  }

}
