.newsletter {
    background-color: #e71d35;
}

.insitucional h3,
.cart a, .cart i,
.list-inline a,
.header > .container > .row > div > div,
.header .container a,
.payment h3,
#cartIcon,
.itemsCartQtt
{
  color: #e71d35;
}

.mnu nav {
  background-color: #e71d35;
  background-image: none;
}

.navbar-default .navbar-nav>li>a {
  color: #feffff;
}

.search .input-group button, .container .input-group button {
  color: #e71d35;
  background-color: white;
  background-image: none;
}

#main-menu-btn button {
  background-color: #e71d35;
  background-image: none;
  color: white;
}
