/* @media screen and (max-width: 970px) {

  .search .input-group .form-control {
    width: 55vw !important;
  }

} */

body {
  font-family: Montserrat;
}

.search .input-group button,
.container .input-group button
{
  top: 0;
  line-height: inherit;
  height: 100%;
}

.input-group-btn {
  width: auto;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
  border-right: none !important;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
  border-left: none !important;
}
